<a href="https://colab.research.google.com/github/bjungweapon/mjc.ai.ml/blob/BDU/bud.6.1.%EA%B2%B0%EC%B8%A1%EC%B9%98%EB%B6%84%EC%84%9D.titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 결측치 확인 방법
  . (isnull)

   . 데이터 프레임에서 결측치는 일반적으로 NaN으로 표시

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("http://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

1. 결측치가 있는지를 확인 하자.
  (결측치 )

In [3]:
## 결측치가 있으면  True,  없으면 False를 출력.

df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [15]:
## isnull(), sum()를 잉요하여 결측치 갯수 파악

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [19]:
df.shape

(891, 12)

 2. 결측치 확인 후.. 어떻게 해야 하지?

  . 해당 행을 삭제 하거나,
  . 통계값 ( 평균값, 최대, 최소, 최빈 등)으로 대체
  . 근처값으로 대체  

  등으로 처리.

In [20]:
## 결측치가 있는 항을 제거해 보자.  dropna (axis = 0 ) // 세로를 기준으로, 결측치가 있는 행을 제거

df_1 = df.dropna(axis=0)
df_1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [24]:
df_1.shape   # 데이터 프레림 크기

(202, 12)

### dropna () 함수와  axis 사용

  결측치가 있는 모든 행 삭제  : df.dropna(axis = 0 )
  결측치가 있는 모든 열 삭제  : df.dropna(axis = 1 )
  Age 열의 결측치가 있는 모든 행 삭제 : df.dropana(subset=["Age"],axis = 0 )

In [9]:
print(df["Age"].isnull().sum())

177

In [10]:
age_mean = df["Age"].mean()

3. 결측치 대체
   fillna() 함수를 이용해서 NaN 값을 대체

    1). 결측치를 지정한 값으로 대체
    
    2). 결측치를 인접한 값으로 대체

In [11]:
df.fillna({"Age":age_mean}, inplace=True)  # 평균으로 데체. inplace 덮어 씌워라.

In [12]:
print(df["Age"].isnull().sum())

0

In [13]:
## Embark column의 최빈 값으로 대체
## mode (최빈값)

In [30]:

from scipy.stats import mode
print(df["Embarked"].isnull().sum())

2

In [32]:
embarked_mode = df["Embarked"].mode()
print(embarked_mode)

0    S
Name: Embarked, dtype: object

In [35]:
age_mode = df['Age'].mode()
print(age_mode)

0    29.699118
Name: Age, dtype: float64

In [36]:
sex_mode = df['Sex' ].mode()
print(sex_mode)

0    male
Name: Sex, dtype: object

In [39]:
age_mean = df['Age'].mean()
print(age_mean)
df["Age"].fillna(age_mean)
df

29.69911764705882

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,29.699118,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,NaN,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,NaN,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,NaN,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,NaN,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,NaN,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,NaN,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,NaN,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,NaN,0,0,370376,7.7500,NaN,Q

In [44]:
df["Embarked"].fillna(embarked_mode, inplace=True)

In [46]:
print(df["Embarked"].isnull().sum())  ## 결과값은 0번 방에 저장하기 때문에 index 0이 보인다.

0

In [ ]:
## mode는 index와 value로 구성되기 때문에 결과는 0, value로 나온다.

인접한 값으로 대체 (직전행

In [ ]:
## Embark 인접한 값으로 대체  ( ffill,  bfill ) 등 함수 사용 // f :forward fill, b: backward fill
## forward 는 이전값에서 넘어왔다로 이해.
## backward 는 앞의 값에서 넘어 왔다로 이해. ( 즉  결측값이 있는 것을 기준으로 어떻게 땡켜 올 것인가?)

In [51]:
df["Embarked"].fillna(method="ffill", inplace=True)

<ipython-input-51-9e20475fa5cd>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Embarked"].fillna(method="ffill", inplace=True)

In [52]:
df["Embarked"] = df["Embarked"].ffill()

In [53]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,29.699118,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,NaN,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,NaN,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,NaN,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,NaN,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,NaN,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,NaN,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,NaN,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,NaN,0,0,370376,7.7500,NaN,Q