1. 결측치 확인 방법
  . (isnull)

   . 데이터 프레임에서 결측치는 일반적으로 NaN으로 표시

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("http://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

1. 결측치가 있는지를 확인 하자.
  (결측치 )

In [3]:
## 결측치가 있으면  True,  없으면 False를 출력.

df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [15]:
## isnull(), sum()를 잉요하여 결측치 갯수 파악

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

 2. 결측치 확인 후.. 어떻게 해야 하지?

  . 해당 행을 삭제 하거나,
  . 통계값 ( 평균값, 최대, 최소, 최빈 등)으로 대체
  . 근처값으로 대체  

  등으로 처리.

In [6]:


df_1 = df.dropna(axis=0)
df_1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [7]:
df_1.shape   # 데이터 프레림 크기

(183, 12)

In [8]:
##결측치를 대체 하는 방법

In [9]:
print(df["Age"].isnull().sum())

177

In [10]:
age_mean = df["Age"].mean()

In [11]:
df.fillna({"Age":age_mean}, inplace=True)  # 평균으로 데체. inplace 덮어 씌워라.

In [12]:
print(df["Age"].isnull().sum())

0

In [13]:
## Embark column의 최빈 값으로 대체

In [14]:
from scipy.stats import mode
print(df["Embarked"].isnull().sum()
    embarked_mode = df["Embarked"].mode()

SyntaxError: '(' was never closed (<ipython-input-14-7c0de40e58d4>, line 2)

In [ ]:
## Embark 인접한 값으로 대체  ( ffill,  bfill ) 등 함수 사용

In [ ]:
df["Embarked"].fillna(method = ffill , inplace=True)